<div id="sidebar" class="sidebar">
  <a id="profile-toggle"><span class="arrow">▶</span>My Profile</a>
  <div id="profile-sub" class="sub-links">
    <a href="#">Personal Information</a>
    <a href="#">My Submissions</a>
  </div>

  <a id="settings-toggle"><span class="arrow">▶</span>Settings</a>
  <div id="settings-sub" class="sub-links">
    <a href="#">Account Settings</a>
    <a href="#">Anonymity Setting</a>
  </div>

  <hr>
  <a href="#" id="faq-link">FAQs</a>
  <hr>
  <a href="#" id="about-link">About Us</a>
  <a href="#" id="contact-link">Contact Us</a>
</div>
